* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* ===========  Body  ========= */

body {
  font-family: "Titillium Web", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: wrap row;
  justify-content: center;
  text-align: center;
}

/* ================== */
svg {
  width: 300px;
  height: 300px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

svg circle {
  fill: transparent;
  stroke-width: 20;
  stroke-dasharray: calc(150 * 6);
  stroke-dashoffset: calc(150 * 6);
  stroke-linecap: round;
}

svg#box1 circle:nth-child(1) {
  stroke-dasharray: 0;
  stroke: #E6E6E4;
}

svg#box1 circle:nth-child(2) {
  stroke: #F2463B;
  animation: stroke1 3s forwards infinite;
  -webkit-animation: stroke1 3s forwards infinite;
}

/* 
  stroke-dashoffset: calc((150 * 6) - ((100 * 6) * 70) / 100);
  calc(510 - (510 * 70) / 100) 
  calc not work with animat :(
 */

@keyframes stroke1 {
  /* 70% {
    stroke-dashoffset: 480;
    calc((150 * 6) - ((100 * 6) * 70) / 100) 
  } */

  100% {
    stroke-dashoffset: 480;
  }
}

/* =================== */
svg#box2 circle:nth-child(1) {
  stroke-dasharray: 0;
  stroke: #E6E6E4;
}

svg#box2 circle:nth-child(2) {
  stroke: #059789;
  animation: stroke2 3s forwards infinite;
  -webkit-animation: stroke2 3s forwards infinite;
}

@keyframes stroke2 {

  /* 40% {
    stroke-dashoffset: 660;
    calc((150 * 6) - ((100 * 6) * 40) / 100)
}

*/
  100% {
    stroke-dashoffset: 660;
  }
}

/* =================== */
svg#box3 circle:nth-child(1) {
  stroke-dasharray: 0;
  stroke: #E6E6E4;
}

svg#box3 circle:nth-child(2) {
  stroke: #02BED4;
  animation: stroke3 3s forwards infinite;
  -webkit-animation: stroke3 3s forwards infinite;
}

@keyframes stroke3 {

  /* 90% {
    stroke-dashoffset: 360;
    calc((150 * 6) - ((100 * 6) * 90) / 100) 
  }
  */
  100% {
    stroke-dashoffset: 360;
  }
}

/* ============== */
svg text {
  font-size: 56px;
  transform-origin: center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  alignment-baseline: middle;
  /* dominant-baseline: middle; */
}

svg#box1 text {
  fill: #F2463B;
}

svg#box2 text {
  fill: #059789;
}

svg#box3 text {
  fill: #02BED4;
}
